@page "/product"
@using Product.InventoryManagement.Application.DTOs
@using Product.InventoryManagement.BlazorUI.Services.Contracts;
@inject HeaderDataService headerDataService;
@inject IProductService productService;

<div>
    <span>This is manage products page</span>
    <table class="w-full">
        <thead class="text-xs text-gray-800 border-b-1 border-b-gray-300 table-header-group">
            <tr>
                <th class="p-4 text-xs font-bold tracking-wide text-left">Product ID</th>
                <th class="p-4 text-xs font-bold tracking-wide text-left">Name</th>
                <th class="p-4 text-xs font-bold tracking-wide text-left">Description</th>
                <th class="p-4 text-xs font-bold tracking-wide text-left">Price</th>
                <th class="p-4 text-xs font-bold tracking-wide text-left">Stock</th>
                <th class="p-4 text-xs font-bold tracking-wide text-left">Date Added</th>
                <th class="p-4 text-xs font-bold tracking-wide text-left">Last Modified</th>
                <th class="p-4 text-xs font-bold tracking-wide text-left">Action</th>
            </tr>
        </thead>
        <tbody>
        @if(products == null)
        {
            <div>
                    <span class="text-red-500 font-semibold">No products found.</span>
            </div>
        } else
        {
            @foreach (var product in products)
            {
                <tr class="even:bg-gray-100 odd:bg-white">
                    <td class="p-4 text-xs text-gray-700 text-left">@product.Id</td>
                    <td class="p-4 text-xs text-gray-700 text-left">@product.Name</td>
                    <td class="p-4 text-xs text-gray-700 text-left max-w-[200px] overflow-ellipsis">@product.Description</td>
                    <td class="p-4 text-xs text-gray-700 text-left">₱@product.Price</td>
                    <td class="p-4 text-xs text-gray-700 text-left">@product.Quantity units</td>
                    <td class="p-4 text-xs text-gray-700 text-left">@product.CreatedAt.ToString()</td>
                    <td class="p-4 text-xs text-gray-700 text-left">@product.UpdatedAt.ToString()</td>
                    <td class="p-4 text-xs text-gray-700 text-left"></td>
                </tr>
            }
        }
        </tbody>
    </table>
    
</div>


    @code {
    private List<Domain.Entities.Product>? products;

    protected override async Task OnInitializedAsync(){
        headerDataService.Title = "Manage Products";
        products = await productService.GetProductsAsync();
    }


}